
.view {
  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSoQdT1B9EG8T_KrU3V7RD29WChvTeoa-FyFw&usqp=CAU")no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: darkgreen;
}

.intro-2 {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBm577aR_0rj170uYlXHBSRQIc06AGPVt60g&usqp=CAU")no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: darkolivegreen;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: rgb(100, 241, 100);
  }

